@model AleStock.Models.ViewModels.FilingsChoicesViewModel

<style>

    #FilingChoices {
        margin-top: 3%;
        padding-bottom: 7%;
        text-align: center !important;
    }

    label {
        display: block;
    }

    .inputDiv1 {
        display: inline-block;
    }

    .inputDiv2 {
        display: inline-block;
        width: 300px;
    }

    .submitBtnDiv {
        margin-top: 4%;
        margin-bottom: 1%;
    }

</style>


<div id="FilingChoices">

    <!-- if there is an error, show the message at the top of the page that has been returned from the controller -->
    @if (TempData["ValidationMsg"] != null)
    {
        <div class="form-row" id="AlertDiv">
            <div class="alert alert-danger text-center" style="width:400px;margin:0 auto;margin-top:2%;" role="alert">
                @TempData["ValidationMsg"]
            </div>
        </div>
    }

    @using (Html.BeginForm("GetFilingAISummarization", "AI", FormMethod.Post, new { @id = "SubmitFilingReportChoices" }))
    {

        <div class="inputDiv1">
            <label>Type in ticker:</label>
            @Html.TextBoxFor(e => e.Ticker)
        </div>

        @Html.Raw("<br />")
        @Html.Raw("<br />")

        <div class="inputDiv2" id="dropdownInputDiv">
            <label>Choose year of financials to analyze:</label>
            @(
                Html.DropDownListFor(m => m.Year,
                new List<SelectListItem> {
                    new SelectListItem { Value = "2019" , Text = "2019" },
                    new SelectListItem { Value = "2020" , Text = "2020" },
                    new SelectListItem { Value = "2020" , Text = "2020" },
                    new SelectListItem { Value = "2021" , Text = "2021" },
                    new SelectListItem { Value = "2022" , Text = "2022" },
                    new SelectListItem { Value = "2023" , Text = "2023" },
                    new SelectListItem { Value = "2024" , Text = "2024" },
                    new SelectListItem { Value = "2025" , Text = "2025" },
                },
                new { @class = "myselect" })
            )
        </div>

        @Html.Raw("<br />")

        <div class="submitBtnDiv">
            <button type="submit" class="k-button">Submit</button>
        </div>

    }

</div>