@model AleStock.Models.ViewModels.StockChoicesViewModel

<style>

    label {
        display: block;
    }

    .inputDiv1 {
        display: inline-block;
    }

    .inputDiv2 {
        display: inline-block;
        width: 300px;
    }

    .submitBtnDiv {
        margin-top: 4%;
        margin-bottom: 1%;
    }

</style>


<div id="HomePage">

    <!-- if there is an error, show the message at the top of the page that has been returned from the controller -->
    @if (TempData["ValidationMsg"] != null)
    {
        <div class="form-row" id="AlertDiv">
            <div class="alert alert-danger text-center" style="width:400px;margin:0 auto;margin-top:2%;" role="alert">
                @TempData["ValidationMsg"]
            </div>
        </div>
    }

    @using (Html.BeginForm("SubmitStockChoices", "Stock", FormMethod.Post, new { @id = "SubmitStockChoicesForm" }))
    {

        @Html.Raw("<br />")
        @Html.Raw("<br />")

        <div class="inputDiv1">
            <label>Type in ticker:</label>
            @Html.TextBoxFor(e => e.Ticker)
        </div>

        @Html.Raw("<br />")
        @Html.Raw("<br />")

        <div class="inputDiv2" id="dropdownInputDiv">
            <label>Choose quarter of fiscal year to analyze:</label>
            @(
                Html.DropDownListFor(m => m.Quarter,
                    new SelectList(
                        new List<SelectListItem>
                        {
                            new SelectListItem() { Text = "Q1", Value = "Q1" },
                            new SelectListItem() { Text = "Q2", Value = "Q2" },
                            new SelectListItem() { Text = "Q3", Value = "Q3" },
                            new SelectListItem() { Text = "Q4", Value = "Q4" },
                        },
                        "value",
                        "text",
                        Model.Quarter
                    )
                )
            )
            

        </div>

        @Html.Raw("<br />")
        @Html.Raw("<br />")

        <div class="inputDiv2" id="dropdownInputDiv">
            <label>Choose year of financials to analyze:</label>
            @(
                Html.DropDownListFor(m => m.Year,
                    new SelectList(
                        new List<SelectListItem>
                        {
                            new SelectListItem() { Text = "2017", Value = "2017" },
                            new SelectListItem() { Text = "2018", Value = "2018" },
                            new SelectListItem() { Text = "2019", Value = "2019" },
                            new SelectListItem() { Text = "2020", Value = "2020" },
                            new SelectListItem() { Text = "2021", Value = "2021" },
                            new SelectListItem() { Text = "2022", Value = "2022" },
                            new SelectListItem() { Text = "2023", Value = "2023" },
                            new SelectListItem() { Text = "2024", Value = "2024" },
                            new SelectListItem() { Text = "2024", Value = "2025" },
                        },
                        "value",
                        "text",
                        Model.Year
                    )
                )
            )

        </div>
        

        @Html.Raw("<br />")


        <div class="submitBtnDiv">
            <button type="submit" class="k-button">Submit</button>
        </div>

    }

</div>