@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AleStock.Models.ViewModels.StockChoicesViewModel

<style>

    label {
        display: block;
    }

    .inputDiv1 {
        display: inline-block;
    }

    .inputDiv2 {
        display: inline-block;
        width: 300px;
    }

    .submitBtnDiv {
        margin-top: 4%;
        margin-bottom: 1%;
    }

</style>


<div>

    <!-- if there is an error, show the message at the top of the page that has been returned from the controller -->
    @if (TempData["ValidationMsg"] != null)
    {
        <div class="form-row" id="AlertDiv">
            <div class="alert alert-danger text-center" style="width:400px;margin:0 auto;margin-top:2%;" role="alert">
                @TempData["ValidationMsg"]
            </div>
        </div>
    }

    @using (Html.BeginForm("SubmitStockChoices", "Stock", FormMethod.Post, new { @id = "SubmitStockChoicesForm" }))
    {

        @Html.Raw("<br />")
        @Html.Raw("<br />")

        <div class="inputDiv1">
            <label>Type in ticker:</label>
            @Html.TextBoxFor(e => e.Ticker)
        </div>

        @Html.Raw("<br />")
        @Html.Raw("<br />")

        <div class="inputDiv2" id="dropdownInputDiv">
            <label>Choose quarter of fiscal year to analyze:</label>
            @(
                Html.DropDownListFor(m => m.Year,
                new List<SelectListItem> {
                    new SelectListItem { Value = "Q1" , Text = "Q1" },
                    new SelectListItem { Value = "Q2" , Text = "Q2" },
                    new SelectListItem { Value = "Q3" , Text = "Q3" },
                    new SelectListItem { Value = "Q4" , Text = "Q4" }
                },
                new { @class = "myselect" })
            )
        </div>

        @Html.Raw("<br />")
        @Html.Raw("<br />")

        <div class="inputDiv2" id="dropdownInputDiv">
            <label>Choose year of financials to analyze:</label>
            @(
                Html.DropDownListFor(m => m.Year,
                new List<SelectListItem> {
                    new SelectListItem { Value = "2018" , Text = "2018" },
                    new SelectListItem { Value = "2019" , Text = "2019" },
                    new SelectListItem { Value = "2020" , Text = "2020" }
                },
                new { @class = "myselect" })
            )
        </div>
        

        @Html.Raw("<br />")


        <div class="submitBtnDiv">
            <button type="submit" class="k-button">Submit</button>
        </div>

    }

</div>