@model AleStock.Models.ViewModels.APIKeysViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    label {
        display: block;
    }

    .inputDiv1 {
        display: inline-block;
    }

    .inputDiv2 {
        display: inline-block;
        width: 300px;
    }

    .submitBtnDiv {
        margin-top: 4%;
        margin-bottom: 1%;
    }

</style>


<div id="APIKeySupplyPage">

    <!-- if there is an error, show the message at the top of the page that has been returned from the controller -->
    @if (TempData["ValidationMsg"] != null)
    {
        <div class="form-row" id="AlertDiv">
            <div class="alert alert-danger text-center" style="width:400px;margin:0 auto;margin-top:2%;" role="alert">
                @TempData["ValidationMsg"]
            </div>
        </div>
    }

    @using (Html.BeginForm("SubmitAPIKeys", "Stock", FormMethod.Post, new { @id = "SubmitAPIKeysForm" }))
    {

        @Html.Raw("<br />")
        @Html.Raw("<br />")

        <div class="inputDiv1">
            <label>Type in the email associated with your AleStock account:</label>
            @Html.TextBoxFor(e => e.Email)
        </div>

        @Html.Raw("<br />")
        @Html.Raw("<br />")

        <div class="inputDiv1">
            <label>Paste your API key from SimFin API (including dashes):</label>
            @Html.TextBoxFor(e => e.Simfin_Key)
        </div>

        <div class="submitBtnDiv">
            <button type="submit" class="k-button">Submit</button>
        </div>

    }

</div>